// Compact Font Sizes
$font-size-h1: 2rem;    // 32px
$font-size-h2: 1.75rem; // 28px
$font-size-h3: 1.5rem;  // 24px
$font-size-h4: 1.25rem; // 20px
$font-size-h5: 1.125rem;// 18px
$font-size-h6: 1rem;    // 16px
$font-size-p: 1.2rem; // 14px
$font-size-subp: 0.9rem; // 14px





section {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 25%;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
}

p {
    color: rgba($color: #000000, $alpha: 0.9);
}

$box-shadow-color: rgb(223, 223, 223);
$box-shadow: 0 0 15px 5px $box-shadow-color;

img {
    width: 90%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}



.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    font-size: $font-size-h3;

    * {
        margin: 21px;
    }

    p {
        // padding: 0 100px;
        font-size: $font-size-p;
    }

    div {
        display: flex;
        justify-content: center;

        a {
            display: flex;
            align-items: center;
            border-radius: 1em;
            font-size: $font-size-p;
            padding: 0 min(1em, 10%);

            margin: 30px;
            background-color: blue;
            color: white;
            border: none;

            &:hover {
                cursor: pointer;
            }
        }

        .explore {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(241, 244, 247);
            color: blue;
            border: none;
            font-weight: 600;
        }
    }

}

.value-proposition-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: $font-size-p;
    margin: 3em 0 1em 0;
    gap: 3em;


    h2 {
        font-size: $font-size-h2;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 20vw));
        justify-content: center;
        gap: 10vw;

        li {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            box-shadow: $box-shadow;
            padding: min(1em, 10%);
            list-style: none;
            text-align: center;
            border-radius: 2em;
            font-size: $font-size-p;
            gap: 10px;
        }
    }



    div {
        display: flex;
        justify-content: center;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60%;
            height: 3em;
            border-radius: 1em;
            font-size: $font-size-p;
            background-color: blue;
            color: white;
            border: none;

            span {
                padding: 1em;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.services-overview-section {
    padding: 2em;
    margin: 0 1em;

    h2 {
        font-size: $font-size-h2;
    }


    .sub-title {
        font-size: $font-size-p;
        margin: 2em;
    }

    .services {
        padding: 1em;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 30px;
        justify-content: center;

        .service-card {
            padding: 3em 1em;
            border-radius: 50px;
            box-shadow: $box-shadow;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            gap: 10px;
            font-size: $font-size-subp;

            .image-container {

                max-width: 20vw;

                img {
                    max-width: 100%;
                    border-top-right-radius: 20%;
                    border-bottom-left-radius: 20%;
                }
            }

            .service-heading {
                font-size: $font-size-h4;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: blue;
                padding: 0.5em 1em;
                border: none;
                color: white;
                font-size: $font-size-subp;
                text-decoration: none;
                border-radius: 10px;

                span {
                    padding: 0 1em;

                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }


}

.about-us-section {


    section {

        padding: 2em;
        font-size: $font-size-p;

        h1,
        h2,
        h3 {
            font-size: $font-size-h2;
            margin: 1em 0;
        }


        div {
            // margin: 4em 0 1em 0;

            ul {
                width: 100%;
                display: flex;
                gap: 2em;
                flex-wrap: wrap;
                justify-content: center;

                li {
                    display: flex;
                    align-items: center;
                    list-style: none;
                    box-shadow: $box-shadow;
                    border-radius: 15px;
                    padding: 0.5em 1em;

                    img {
                        width: 2em;
                        margin: 0 20px 0 0;
                    }
                }

            }
        }


    }

    .trusted-partner {
        display: flex;

        // display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(30%, 30vw));
        align-items: center;
        justify-content: center;

        .company-image-section {
            display: flex;
            max-width: 350px;

            .image-container {
                img {
                    max-width: 100%;
                    border-top-right-radius: 20%;
                    border-bottom-left-radius: 20%;
                }
            }
        }


    }

    .why-partner-with-us {
        font-size: $font-size-p;

        ul {
            width: 100%;
            display: flex;
            gap: 2em;
            flex-wrap: wrap;
            justify-content: center;

            li {
                display: flex;
                align-items: center;
                list-style: none;
                box-shadow: $box-shadow;
                border-radius: 15px;
                padding: 0.5em 1em;

                img {
                    width: 2em;
                    margin: 0 20px 0 0;
                }
            }
        }

    }
}


.our-clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5em 0 1em 0;
    font-size: $font-size-p;

    h3 {
        margin-bottom: 0.8em;
        font-size: $font-size-h2;
    }

    ul {
        width: 100%;
        display: flex;
        gap: 2em;
        flex-wrap: wrap;
        justify-content: center;

        li {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            list-style: none;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                box-shadow: $box-shadow;
                border-radius: 15px;
                padding: 0.5em 1em;



                &:hover {
                    cursor: pointer;
                }

                img {
                    width: 7em;
                }
            }
        }
    }

}




.call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    font-size: $font-size-subp;



    h1,
    h2,
    h3 {
        font-size: $font-size-h2;
        margin: 2em 0 0em 0;
    }

    p {
        margin: 2em 0 1em 0;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: $font-size-p;

        ul {
            width: 100%;
            display: flex;
            gap: 2em;
            flex-wrap: wrap;
            justify-content: center;

            li {
                display: flex;
                align-items: center;
                list-style: none;
                text-align: center;
                box-shadow: $box-shadow;
                border-radius: 15px;
                padding: 0.5em 1em;

                img {
                    width: 2em;
                    margin: 0 20px 0 0;
                }
            }
        }

        a {
            padding: min(1em, 10%) min(40px, 15%);
            border-radius: 1em;
            margin: 2em;
            background-color: blue;
            color: white;
            border: none;

            &:hover {
                cursor: pointer;
            }
        }
    }



}