<div class="wrapper">
    <section class="hero-section">
        <h1>Professional Website Design Services in Tumkur</h1>
        <p>Transform your business with professional Web Solutions. From simple business websites to complex e-commerce
            solutions, we help you establish a powerful online presence.</p>
        <div class="btn">
            <a>Get Free Consultation</a>
        </div>
    </section>
    <section class="our-web-services">
        <h2>Our Web Services</h2>
        <p>We provide a wide range of services to meet your unique business needs:</p>
        <section>
        <div class="web-service" *ngFor="let service of webServices">
                <h2>{{service.header}}</h2>
                <p>{{service.paragraph}}</p>
            </div>
        </section>
    </section>
    <section class="our-websites-apart">
        <h2> Your Trusted Website Designer in Tumkur</h2>
        <h3>What Sets Our Websites Apart?</h3>
        <section>
            <div class="web-aparts" *ngFor="let apart of websitesApart">
                <div class="image-container">
                <img src="images/icons/green-tick.webp" alt="">
            </div>
                <h2>{{apart.header}}</h2>
                <p>{{apart.paragraph}}</p>
            </div>
        </section>
    </section>
    <section class="start-your-web-project">
        <h2> Ready to Start Your Web Project?</h2>
        <p>Take the first step towards an impactful online presence. Contact us today for a free consultation and quote.
        </p>
        <h4>Contact Form:</h4>
        <ul class="list-continer">
            <li>Name</li>
            <li>Email</li>
            <li>Phone</li>
            <li>Company</li>
            <li>Project details</li>
            <li>Budget range</li>
        </ul>
        <h2>Or call us directly: [Phone Number]</h2>
        <h2>Address:</h2>
    </section>
    <section class="related-it-services">
        <h2>Related Services</h2>
        <ul class="list-continer">
            <li>Digital Marketing & SEO Services</li>
            <li>Mobile App Development</li>
        </ul>
        <div class="btn">
            <button>Homepage</button>
        </div>
    </section>
</div>